name: Polaris Scan for Basic Users
                                                                                                                                                                                                                                         
on:
  push:
    branches: [main, master, develop, stage, release]
  pull_request:
    branches: [main, master, develop, stage, release]
  
permissions:
  contents: read
  security-events: write
  
jobs:
  polaris-scan:
    runs-on: [ ubuntu-latest ]
    
    defaults:
      run:
        working-directory: ${{ github.workspace }}/nodejs-npm

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'  
   
    - name: Install dependencies
      run: npm install  

    - name: Build Project
      run: |
        npm rebuild
                                                                                                                                                                                                                                         
    - name: Polaris Scan for Basic Users
      uses: blackduck-inc/black-duck-security-scan@v2
      with:
        ### SCANNING: Required fields
        polaris_server_url: ${{ secrets.POLARIS_SERVER_URL }}
        polaris_access_token: ${{ secrets.POLARIS_ACCESS_TOKEN }}
        polaris_assessment_types: "SAST,SCA"

        ### PULL REQUEST COMMENTS
        polaris_prComment_enabled: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
        
        ### SARIF report generation and upload
        polaris_reports_sarif_create: true
        polaris_upload_sarif_report: true
        
        ### Mark build status if policy violating issues are found
        mark_build_status: 'success'
